@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

html, body {
  scroll-behavior: smooth;
}

:root {
  --link: #2f89fc;

  --bg-background-primary: #121212;
  --bg-background-secondary: #212121;

  --navigation-bg: rgba(20, 20, 20, .75);
  --navigation-border: rgba(255, 255, 255, .05);

  --logo: rgba(255, 255, 255, .4);
  --icon-bg: rgba(255, 255, 255, .1);
  --icon-bg-click: rgba(255, 255, 255, 0.15);

  --text-copy-primary: #E0E0E0;

  --accent: #4366a9;
  --accent-trans: rgba(67, 102, 169, .25);
}

.theme-light {
  --link: #1b6ca8;

  --bg-background-primary: #FFFAFA;
  --bg-background-secondary: #FFFFFF;

  --navigation-bg: rgba(255, 250, 250, 0.8);
  --navigation-border: rgba(54, 54, 54, 0.1);

  --logo: rgba(54, 54, 54, .4);
  --icon-bg: rgba(54, 54, 54, .1);
  --icon-bg-click: rgba(54, 54, 54, 0.2);

  --text-copy-primary: #212121;

  --accent: #42A6E8;
  --accent-trans: rgba(66, 166, 232, .3);
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Manrope Var';
    src: url('./../fonts/manrope-var.woff2') format('woff2-variations');
    font-weight: 1 999;
    font-style: oblique 0deg 10deg;
    font-display: swap;
  }
}

@font-face {
  font-family: 'Manrope';
  src: url('./../fonts/manrope-regular.woff2') format('woff2'),
    url('./../fonts/manrope-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./../fonts/manrope-medium.woff2') format('woff2'),
    url('./../fonts/manrope-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./../fonts/manrope-semi.woff2') format('woff2'),
    url('./../fonts/manrope-semi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

code, kbd {
  background-color: #c4c4c433;
  padding: .2rem .4rem;
  border-radius: 2px;
  color: red;
}
